.btn {
  border: 0;
  border-radius: 2px;
}
.form-box {
  position: relative;
  padding: 6px 24px;
  border: 1px solid rgba(0,0,0,0.15);
  margin-bottom: -1px;
  background-color: #fff;
  color: #333;
  opacity: 1;
  width: 100%;
  overflow: auto;
  transition: all 0.4s, padding-top 0.3s 0.1s, padding-bottom 0.3s 0.1s;
  cursor: pointer;
  .input-group-addon{
    border: 0;
  }
}
.form-label {
    display: block;
    font-size: 14px;
    font-size: .875rem;
    line-height: 24px;
    color: #666;
    cursor: pointer;
    margin: 0;
}
.form-input{
  outline: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0px;
  height: 36px;
}
.form-hr {
  display: flex;
  .form-box {
    &:last-child {
      margin-left: -1px;
    }
  }
}

.form-default {
  h3{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1em;
    color: $blue;
  }
}

textarea {
  &.form-input {
    height: 70px;
    resize: none;
  }
}

.form-buttons {
  padding: 20px 0;
  .btn {
    width: 100%;
  }
}


.btn {
  cursor: pointer;
  &-primary {
    background-color: $blue;
    color: $white;
    &:hover {
      background-color: lighten($blue, 20%);
      color: $white;
    }
  }
}